* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    color:rgb(103, 124, 68);
    font-family: Helvetica, Arial, sans-serif;
  }

  
  /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 40px 35px;
    background-color:rgb(40, 109, 63);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: peru;
    margin: 0;
    display: inline;
  }
  
  header a {
    text-decoration: none;
    color:peru;
  }
  
  header nav {
    margin: 7px 0;
    float: right;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }
  
  header nav ul li a:hover {
    background: whitesmoke;
    color: green;
    border-radius: 5px;
    text-shadow: none;
    border-width: 10px;
  }
  
  /* HEADER / NAVBAR STYLES END */

  
   /* START CONTACT STYLES */
   .contact {
    background: rgb(40, 109, 63);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .contact h4 {
    color: rgb(168, 151, 77);
    font-size: 30px;
    margin: 0;
  }
  
  .contact p {
    line-height: 1.5;
    text-align: center;
    color: rgb(168, 151, 77);
    font: bold;
  }
  
  .contact a  {
    color: rgb(168, 151, 77);
    font: bold;
  }

  .contact #social a:hover {
    background: whitesmoke;
    color: green;
    border-radius: 10px;
    text-shadow: none;
  }

  .contact br {
    color:rgb(168, 151, 77) ;
    font: bold;
  }

  .contact,
  #brand {
    font: bold;
    color:rgb(168, 151, 77);
  }

   /* END CONTACT STYLES */

 /* HERO STYLES START */
 .hero {
    background-image: url('../images/trialcandles.jpg');
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: 80%;
    padding: 40px 15px;
   margin-bottom: 500px;
   height: 500px;
   width: 1200px;
    
  }
  
  .hero-cta {
    width: 50%;
    text-align: left;
    margin: 3.5%;
    font-size: 8px;
    font-family: revert;
    line-height: 15.0;
  } 
  
  /* .hero-cta h2 {
    font-style: italic;
    font-size: 25px;
    color: #fce138;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  /* HERO STYLES END */

/* SECTION TITLE STYLES START */
.section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: peru;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  }
  
  .primary-border {
    border-color: rgb(40, 109, 63);
  }
  
  .secondary-border {
    border-color: rgb(168, 151, 77);
  }
  /* SECTION TITLE STYLES END */

 /* Our Story STYLES */
  
 .intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
  }
  /* Our Story STYLES END */


  /* MY INVENTORY STYLES START */
  .cards { 
    background: rgb(40, 109, 63);
  }
  
  .card {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-right-color: 1px solid lime;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex: 100px
  }
  
  .card:last-child {
    border-bottom: none;
  }
  
  .card h3 {
    color: limegreen;
    font-size: 10px;
    flex: 1 30%;
    float: left;
  }
  
  .media-content {
    flex: 8 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  /* .card-img {
    flex: 1 12%;
    margin-right: 20px;
  } */
  
  .card-image {
    padding: 25px 25px 
  }
  .card-img img {
    max-width: 20px;
    float: left;
  }
  
  /* .card-text {
    flex: 10;
} */
  
.media-content p {
    color: rgb(168, 151, 77);
    font-size: 10px;
    float: right;
}
  
  /* MY INVENTORY STYLES END */





























/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  
    .hero-cta, .hero-form {
      width: 100%;
    }
    
    .hero-cta {
      text-align: center;
    }
  
    .section-title {
      width: 80%;
    }
    
    .trainer {
      flex: 0 70%;
    }
    
    .contact-info iframe{
      flex: 1 100%;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  
    .trainer-bio h3, .trainer-bio h4 {
      display: block;
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .trainer {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
      order: 3;
    }
  }