* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    color:rgb(103, 124, 68);
    font-family: Helvetica, Arial, sans-serif;
  }

  
  /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 40px 35px;
    background-color:rgb(40, 109, 63);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: peru;
    margin: 0;
    display: inline;
  }
  
  header a {
    text-decoration: none;
    color:peru;
  }
  
  header nav {
    margin: 7px 0;
    float: right;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }
  
  header nav ul li a:hover {
    background: whitesmoke;
    color: green;
    border-radius: 5px;
    text-shadow: none;
    border-width: 10px;
  }
  
  /* HEADER / NAVBAR STYLES END */

  
   /* START CONTACT STYLES */
   .contact {
    background: rgb(40, 109, 63);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .contact h4 {
    color: rgb(168, 151, 77);
    font-size: 30px;
    margin: 0;
  }
  
  .contact p {
    line-height: 1.5;
    text-align: center;
    color: rgb(168, 151, 77);
    font: bold;
  }
  
  .contact a  {
    color: rgb(168, 151, 77);
    font: bold;
  }

  .contact #social a:hover {
    background: whitesmoke;
    color: green;
    border-radius: 10px;
    text-shadow: none;
    padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }

  .contact br {
    color:rgb(168, 151, 77) ;
    font: bold;
  }

  .contact,
  #brand {
    font: bold;
    color:rgb(168, 151, 77);
  }

   /* END CONTACT STYLES */

 /* HERO STYLES START */
 .hero {
    background-image: url('../images/trialcandles.jpg');
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: 80%;
    padding: 40px 15px;
   margin-bottom: 200px;
   height: 700px;
   width: 2200px;
   background-repeat: no-repeat;
    
  }
  
  .hero-cta {
    width: 50%;
    text-align: left;
    margin: 3.5%;
    font-size: 8px;
    font-family: revert;
    line-height: 15.0;
  } 
  
  /* .hero-cta h2 {
    font-style: italic;
    font-size: 25px;
    color: #fce138;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  /* HERO STYLES END */

/* SECTION TITLE STYLES START */
.section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: peru;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  }
  
  .primary-border {
    border-color: rgb(40, 109, 63);
  }
  
  .secondary-border {
    border-color: rgb(168, 151, 77);
  }
  /* SECTION TITLE STYLES END */

 /* Our Story STYLES */
  
 .intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
  }
  /* Our Story STYLES END */


  /* MY INVENTORY STYLES START */
  .cards { 
    background: rgb(40, 109, 63);
  }

  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100px;
  margin: auto;
  text-align: center;
  font-family: arial;
  outline: 10px solid rgb(40, 109, 63);
}

#OB,
#Vanilla,
#oak {
  padding: 100px;
  box-sizing: border-box;
  background-color: rgb(199, 212, 194);
}


#OB {
  margin-right: 50%;
  width: 250px;
  
}

#vanilla {
  margin-left: 250px;
}

#oak {
margin-top: 100px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
  border-radius: 10px;
}

.card button:hover {
  opacity: 0.7;
}




  /* MY INVENTORY STYLES END */





























/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  
    .hero-cta, .hero-form {
      width: 100%;
    }
    
    .hero-cta {
      text-align: center;
    }
  
    .section-title {
      width: 80%;
    }
    
    #Payment {
      flex: 0 70%;
    }
    
    .contact-info iframe{
      flex: 1 100%;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .card h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .card-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .card-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .card-text {
      flex: 100%;  
    }
  
    #Payment-bio h3, #Payment-bio h4 {
      display: block;
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    #payment {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
      order: 3;
    }
  }

  /* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}